h2, h3{
    font-family: cursive;
    background-color: red;
    color: black;
}
h1{
    font-size: 20;
    color: brown;
    text-align: center;
    font-family: times;
    background-color: ;
}
img{
    width:150px;
    height:150px;
    border-radius: 200%;
    object-fit: ;
    border: 300;
    
    
}
p{
    font-family: times;
    color: black;
}       
body{
    background: url('jay.jpg');
    margin:px;
    
    
}
li{
    font-style: italic;
    color: black;
}
section{
    background-color:;  

}
